#song-container {
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkslategray;
    border: black 1px solid;
    font-size: 1.6em;
}

.song-div:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.song-div:nth-child(even) {
    background-color: rgb(232, 237, 234);
}

.song-div:nth-child(odd):hover {
    background-color: rgb(210, 245, 206);
}

.song-div:nth-child(even):hover {
    background-color: rgb(162, 209, 157);
}

.song-div-item {
    background-color: inherit !important;
}

#playlist-main-title {
    text-align: center;
    padding: 10px;
}

#stop-button {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    background-color: rgba(245, 241, 241, 0.6);
    border-radius: 1%;
}

#graph-container:hover {
    cursor: pointer;
}